* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.container, .container-md, .container-sm {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  max-width: 1320px;
}

.container-md {
  max-width: 1064px;
}

.container-sm {
  max-width: 808px;
}

.upcoming-sermon__left button {
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #161722;
  color: #ffd2a4;
  text-transform: uppercase;
  transition: 0.5s;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
.upcoming-sermon__left button:hover {
  color: #fff;
}

.section-header {
  text-align: center;
}
.section-header h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.section-header h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  text-transform: uppercase;
  letter-spacing: -0.48px;
}

header {
  background: #0d0d0d;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__left__line {
  height: 80px;
  width: 2px;
  background: #fff;
  opacity: 0.1;
  margin-left: 66px;
  margin-right: 64px;
}
.navbar__left__link {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
.navbar__left__link li a {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.navbar__right button {
  padding: 20px 48px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
  text-transform: uppercase;
  transition: 0.5s;
}
.navbar__right button:hover {
  background: #f2c79b;
}
.navbar__right button a {
  color: #1C1D28;
}