@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../../fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../../fonts/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../../fonts/RobotoCondensed-Regular.ttf);
}
html, body * {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.hero {
  padding-top: 80px;
}

.container, .container-md, .container-sm {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  max-width: 1320px;
}

.container-md {
  max-width: 1064px;
}

.container-sm {
  max-width: 808px;
}

header {
  background: #0d0d0d;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 1;
  background-color: #0d0d0d;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__left__line {
  height: 80px;
  width: 2px;
  background: #fff;
  opacity: 0.1;
  margin-left: 66px;
  margin-right: 64px;
}
@media (max-width: 400px) {
  .navbar__left__line {
    display: none;
  }
}
.navbar__left__link {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
.navbar__left__link li a {
  position: relative;
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.navbar__left__link li a::after {
  content: "";
  position: absolute;
  background-color: red;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
  z-index: 99;
}
.navbar__left__link li a:hover::after {
  width: 100%;
}
.navbar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar__right > button {
  padding: 20px 48px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
  text-transform: uppercase;
  transition: 0.5s;
}
.navbar__right > button:hover {
  background: #f2c79b;
}
@media (max-width: 600px) {
  .navbar__right > button {
    display: none;
  }
}
.navbar__right > button a {
  color: #1c1d28;
}

@media (max-width: 900px) {
  .navbar__left__link {
    display: none;
  }
}
.hamburger {
  display: none;
}
@media (max-width: 900px) {
  .hamburger {
    display: inline-block;
    padding-left: 24px;
    cursor: pointer;
  }
}

#navbar-responsive {
  position: fixed;
  background: url(../images/background.png);
  background: #161722;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  opacity: 0.99;
  z-index: 10;
}
#navbar-responsive .res-nav-list {
  list-style-type: none;
}
#navbar-responsive .res-nav-item {
  margin: 30px 0px;
  text-align: center;
}
#navbar-responsive .res-nav-link {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
#navbar-responsive .res-nav-btn {
  padding: 20px 48px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
  text-transform: uppercase;
  transition: 0.5s;
  color: #fff;
}
#navbar-responsive .res-nav-btn:hover {
  background: #f2c79b;
}

#navbar-close {
  position: absolute;
  top: 20px;
  right: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar-shrink {
  margin-top: -15px;
  margin-bottom: -25px;
  box-shadow: 5px 0 10px 3px black;
}

footer {
  background: #161722;
  padding-top: 64px;
  padding-bottom: 64px;
}
footer .footer {
  display: grid;
  grid-template-columns: 60% 40%;
}
footer .footer__left {
  display: flex;
  justify-content: space-between;
  padding-right: 115px;
}
@media (max-width: 600px) {
  footer .footer__left {
    padding-right: 0;
  }
}
footer .footer__left__hero h3 {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 27.65px;
  padding-bottom: 32px;
}
footer .footer__left__hero p {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 16px;
}
footer .footer__left__link {
  display: flex;
  justify-content: space-between;
  gap: 72px;
}
footer .footer__left__link ul h3 {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 20px;
}
footer .footer__left__link ul li {
  padding-bottom: 24px;
}
footer .footer__left__link ul li a {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
footer .footer__left__link__social h3 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 20px;
}
footer .footer__left__link__social img {
  padding-right: 20px;
}
@media (max-width: 600px) {
  footer .footer__left {
    flex-direction: column;
    text-align: center;
  }
}
footer .footer__right h2 {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  padding-bottom: 32px;
}
footer .footer__right__mail {
  position: relative;
}
footer .footer__right__mail input {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: transparent;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 20px;
  width: 100%;
}
footer .footer__right__mail > button {
  position: absolute;
  right: 0px;
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
  text-transform: uppercase;
  transition: 0.5s;
}
footer .footer__right__mail > button:hover {
  background: #f2c79b;
}
@media (max-width: 450px) {
  footer .footer__right__mail {
    display: flex;
    flex-direction: column;
  }
  footer .footer__right__mail button {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 350px) {
  footer .footer__right {
    display: none;
  }
}
@media (max-width: 1050px) {
  footer .footer {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}

.upcoming-sermon__left button {
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #161722;
  color: #ffd2a4;
  text-transform: uppercase;
  transition: 0.5s;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
.upcoming-sermon__left button:hover {
  color: #fff;
}

.section-header {
  text-align: center;
}
.section-header h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.section-header h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  text-transform: uppercase;
  letter-spacing: -0.48px;
}

#hero {
  background: url(../../image/home/hero.png) no-repeat center;
  background-size: cover;
  padding-top: 128px;
  padding-bottom: 128px;
}
#hero .hero h3 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
#hero .hero h1 {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 82px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 32px;
  width: 60%;
}
@media (max-width: 450px) {
  #hero .hero h1 {
    font-size: 48px;
  }
}
#hero .hero button {
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
  text-transform: uppercase;
  transition: 0.5s;
  color: #161722;
}
#hero .hero button:hover {
  background: #f2c79b;
}
#hero .hero button a {
  color: #161722;
}
#hero .hero__info {
  padding-top: 64px;
  display: flex;
  align-items: center;
  gap: 12px;
}
#hero .hero__info .line {
  width: 18px;
  height: 2px;
  background: #ffd2a4;
}
#hero .hero__info p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 300px;
}

#church {
  padding-top: 128px;
}
#church .church__item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 28px;
  padding-top: 64px;
}
#church .church__item .church__info {
  width: 100%;
  height: 16px;
  background: #ffd2a4;
  left: 0;
  bottom: 0;
  transition: height 0.6s ease-in;
}
#church .church__item__card {
  position: relative;
  padding: 80px;
  background: #fff5eb;
  overflow: hidden;
}
@media (max-width: 450px) {
  #church .church__item__card {
    padding: 20px;
  }
}
#church .church__item__card:hover img {
  transition: all 0.3s ease-out;
  background: #f5f2f0;
}
#church .church__item__card:hover .church__info {
  transition: height 0.6s ease-out;
  height: 100%;
}
#church .church__item__card h4 {
  color: #161722;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 8px;
}
#church .church__item__card p {
  color: #161722;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 1100px) {
  #church .church__item {
    grid-template-columns: repeat(1, 1fr);
  }
}

#love {
  padding-top: 128px;
  padding-bottom: 128px;
}
#love .love .section-header p {
  padding-top: 32px;
  color: #161722;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 92%;
  margin: 0 auto;
}
#love .love .section-header button {
  display: none;
  margin-top: 24px;
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
  text-transform: uppercase;
  transition: 0.5s;
}
#love .love .section-header button:hover {
  background: #f2c79b;
}
#love .love .section-header button a {
  color: #161722;
}
@media (max-width: 1050px) {
  #love .love .section-header button {
    display: inline-block;
  }
}
#love .love__img {
  display: flex;
  justify-content: space-between;
  padding-top: 54px;
}
@media (max-width: 1050px) {
  #love .love__img {
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    gap: 20px;
  }
}
#love .love__img .img {
  padding-top: 48px;
  width: 293px;
  height: 384px;
}
#love .love__img__center button {
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
  text-transform: uppercase;
  transition: 0.5s;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
#love .love__img__center button:hover {
  background: #f2c79b;
}
#love .love__img__center button a {
  color: #161722;
}
@media (max-width: 1050px) {
  #love .love__img__center button {
    display: none;
  }
}
#love .love__info {
  padding-top: 64px;
}
#love .love__info h6 {
  color: #161722;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
#love .love__info h4 {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #161722;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}
#love .love__info p {
  color: #161722;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#love .love__info a {
  padding-top: 16px;
  color: #161722;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 6px;
}

#benefit {
  background-color: #f5f2f0;
  padding-top: 128px;
  padding-bottom: 128px;
}
#benefit .benefit__item {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  #benefit .benefit__item {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
  }
}
#benefit .benefit__item__card {
  height: 384px;
  width: 302px;
  padding: 32px;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}
#benefit .benefit__item__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
#benefit .benefit__item__card .intro {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s ease-in-out;
}
#benefit .benefit__item__card .intro h5 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  color: #fff;
  opacity: 1;
}
#benefit .benefit__item__card .intro p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  visibility: visible;
  opacity: 1;
}
#benefit .benefit__item__card:hover {
  transform: translateY(20px);
}
#benefit .benefit__item__card:hover::before {
  opacity: 1;
}
#benefit .benefit__item__card:hover .intro {
  opacity: 1;
  transform: translateY(0px);
}
#benefit .benefit__item__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5), rgb(150, 201, 61));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

#join {
  padding-top: 128px;
  padding-bottom: 128px;
}
#join .join .section-header {
  padding-bottom: 64px;
}
#join .join .section-header h2 {
  width: 55%;
  margin: 0 auto;
}
@media (max-width: 400px) {
  #join .join .section-header h2 {
    font-size: 32px;
  }
}
#join .join__left {
  background: #fff5eb;
  padding: 32px 32px 31px 50px;
}
#join .join__left__hero {
  display: flex;
  justify-content: space-between;
}
#join .join__left__hero h6 {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  background: var(--gradient, linear-gradient(163deg, #a54e2b 0%, #dc9853 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#join .join__left__hero .date {
  text-align: center;
}
#join .join__left__hero .date h5 {
  color: #161722;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.24px;
  text-transform: uppercase;
}
#join .join__left__hero .date p {
  color: #161722;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
#join .join__left h3 {
  color: #161722;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  width: 80%;
  padding-top: 12px;
}
#join .join__left > p {
  color: #161722;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-top: 16px;
  padding-bottom: 32px;
}
#join .join__left__time {
  display: flex;
  align-items: flex-start;
}
#join .join__left__time img {
  padding-top: 5px;
}
#join .join__left__time h4 {
  padding-left: 16px;
  padding-bottom: 16px;
  color: #161722;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#join .join__right img {
  width: 100%;
}
#join .join button {
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #161722;
  color: #ffd2a4;
  text-transform: uppercase;
  transition: 0.5s;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  margin-top: 16px;
}
#join .join button:hover {
  color: #fff;
}
#join .join button a {
  color: #fff;
}

.join__content {
  display: grid;
  grid-template-columns: 30% 70%;
}
@media (max-width: 1250px) {
  .join__content {
    grid-template-columns: repeat(1, 1fr);
  }
}

.join__share {
  text-align: right;
  padding-top: 48px;
}
.join__share a {
  color: #161722;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-right: 11px;
}

#visit {
  background: url(../../image/home/visit.png) no-repeat center;
  background-size: cover;
}
#visit .visit__item {
  padding-top: 128px;
  padding-bottom: 128px;
}
#visit .visit__item__card {
  background: #fff;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 72px 48px;
  gap: 25px;
}
#visit .visit__item__card__left {
  gap: 16px;
}
#visit .visit__item__card__left h4 {
  color: #161722;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  #visit .visit__item__card__left h4 {
    font-size: 32px;
  }
}
#visit .visit__item__card__left p {
  color: #161722;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
}
#visit .visit__item__card__left button {
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
  text-transform: uppercase;
  transition: 0.5s;
}
#visit .visit__item__card__left button:hover {
  background: #f2c79b;
}
@media (max-width: 800px) {
  #visit .visit__item__card__right img {
    display: none;
  }
}
#visit .visit__item .visit__info {
  background: #ffd2a4;
  width: 100%;
  height: 16px;
}

#blog {
  padding-top: 128px;
  padding-bottom: 128px;
}
#blog .blog__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  padding-top: 64px;
}
@media (max-width: 1100px) {
  #blog .blog__item {
    grid-template-columns: repeat(1, 1fr);
  }
}
#blog .blog__item__card {
  background: #fff5eb;
  padding: 32px 48px;
}
#blog .blog__item__card h6 {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  background: linear-gradient(163deg, #a54e2b 0%, #dc9853 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#blog .blog__item__card h2 {
  color: #161722;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
}
#blog .blog__item__card p {
  color: #161722;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 48px;
}
#blog .blog__item__card h5 {
  color: #161722;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 4px;
}

.blog__info {
  background: #ffd0a0;
  width: 100%;
  height: 16px;
}