@use "../global";
@use "../components/upcoming-sermon";
@use "../components/blog-card";
@use "../components/section-header";
@use "../utils/mixins" as mxn;
@use "../utils/variables" as var;


header {
   background: #0d0d0d;
 }
 .navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__left {
     display: flex;
     justify-content: space-between;
     align-items: center;
     &__line {
       height: 80px;
       width: 2px;
       background: #fff;
       opacity: 0.1;
       margin-left: 66px;
       margin-right: 64px;
     }
     &__link {
       display: flex;
       flex-direction: row;
       gap: 48px;
       li {
         a {
           color: var.$c5;
           text-align: right;
           font-size: var.$h6;
           font-style: normal;
           font-weight: 400;
           line-height: normal;
           text-transform: uppercase;
         }
       }
     }
   }
   &__right {
     button {
       @include mxn.nav-btn;
       a{
          color: #1C1D28;
       }
     }
   }
 }