<footer>
  <div class="container footer">
    <div class="footer__left">
      <div class="footer__left__hero">
        <img src="../image/home/footer-logo.svg">
        <h3>© Copyright Finsweet 2022</h3>
        <p>(480) 555-0103</p>
        <p>4517 Washington Ave.</p>
        <p>finsweet@example.com</p>
      </div>
      <div class="footer__left__link">
        <ul>
          <h3>Quicklinks</h3>
          <li><a href="#">About us</a></li>
          <li><a href="#">Sermons</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
        <div class="footer__left__link__social">
          <h3>Connect</h3>
          <img src="image/home/facebook.svg" alt="">
          <img src="image/home/twitter.svg" alt="">
          <img src="image/home/LinkedIn.svg" alt="">
        </div>
      </div>
    </div>
    <div class="footer__right">
      <h2>Subscribe to get Latest Updates and News</h2>
      <div class="footer__right__mail">
        <input type="text" placeholder="Yourmail@gmail.com">
        <button>Subscribe</button>
      </div>
    </div>
  </div>
</footer>