<header>
  <div class="container navbar">
    <div class="navbar__left">
      <img src="image/home/Logo.svg">
      <div class="navbar__left__line"></div>
      <ul class="navbar__left__link">
        <li><a href="index.html">Home</a></li>
        <li><a href="about-us.html">About us</a></li>
        <li><a href="sermons.html">Sermon</a></li>
        <li><a href="blog.html">Blog</a></li>
      </ul>
    </div>
    <div class="navbar__right">
      <button><a href="contact.html">Contact us</a></button>
      </button>
      <div class="hamburger" id="navbar-open">
        <img src="image/home/hamburger.svg" alt="hamburger-logo">
      </div>
    </div>
    <div id="navbar-responsive">
      <ul class="res-nav-list">
        <li class="res-nav-item"><a href="index.html" class="res-nav-link">Home</a></li>
        <li class="res-nav-item"><a href="about-us.html" class="res-nav-link">About us</a></li>
        <li class="res-nav-item"><a href="sermons.html" class="res-nav-link">Sermon</a></li>
        <li class="res-nav-item"><a href="blog.html" class="res-nav-link">Blog</a></li>
        <li class="res-nav-item"><button class="res-nav-btn">Contact us</button></li>
      </ul>
      <button id="navbar-close">
        <img src="image/home/close.svg" alt="close">
      </button>

    </div>

  </div>
</header>