<header>
   <div class="container navbar">
     <div class="navbar__left">
       <img src="image/home/Logo.svg">
       <div class="navbar__left__line"></div>
       <ul class="navbar__left__link">
         <li><a href="index.html">Home</a></li>
         <li><a href="about-us.html">About us</a></li>
         <li><a href="sermons.html">Sermon</a></li>
         <li><a href="blog.html">Blog</a></li>
       </ul>
     </div>
     <div class="navbar__right">
       <button><a href="contact.html">Contact us</a></button>
     </div>
   </div>
 </header>

 <main></main>

 <footer>
   <div class="container footer">
      <div class="footer__left">
         <div class="footer__left__hero">
            <img src="../image/home/footer-logo.svg">
            <h3>© Copyright Finsweet 2022</h3>
            <p>(480) 555-0103</p>
            <p>4517 Washington Ave.</p>
            <p>finsweet@example.com</p>
         </div>
         <div class="footer__left__link">
            <ul>
               <h3>Quicklinks</h3>
               <li><a href="#">About us</a></li>
               <li><a href="#">Sermons</a></li>
               <li><a href="#">Events</a></li>
               <li><a href="#">Blog</a></li>
            </ul>
            <div class="footer__left_link__social">
               <h3>Connect</h3>
            </div>
         </div>
      </div>
   </div>
 </footer>