<header>
   <div class="container navbar">
     <div class="navbar__left">
       <img src="image/home/Logo.svg">
       <div class="navbar__left__line"></div>
       <ul class="navbar__left__link">
         <li><a href="index.html">Home</a></li>
         <li><a href="about-us.html">About us</a></li>
         <li><a href="sermons.html">Sermon</a></li>
         <li><a href="blog.html">Blog</a></li>
       </ul>
     </div>
     <div class="navbar__right">
       <button><a href="contact.html">Contact us</a></button>
     </div>
   </div>
 </header>